<!DOCTYPE html>
<html lang="en">

<head>
    <title>EASYENGLISH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/A.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    {{{_sections.css}}}
</head>

<body>
    <div class="">
        <div class="sidebar col-12 col-md-3">
            <div class="site-logo text-center logo pt-5">
                <a href="/trangchu"><i class="fab fa-earlybirds"></i><b>EASY ENGLISH</b></a>
            </div>
            <br>
            <hr>
            <div class="admin-avt text-center">
                <img src="https://i.pinimg.com/originals/df/a6/d8/dfa6d8c83adc19313ae2e265ad851a3a.jpg" alt="avatar"
                    class="img-circle">
                <p class="mt-2">
                    <a href="/admin/profile" class="text-white">
                        <b>{{authUser.hoten}}</b>
                    </a>
                </p>
            </div>
            <hr>
            <div class="sitebar-menu">
                <div class="text-white">
                    <h5><b>Quản Lý</b></h5>
                    <ul class="site-nav">
                        <li>
                            <a class="nav-link-2 active" href="/admin"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <br>
                        <li>
                            <a class="nav-link-2" href="#" data-toggle="collapse" data-target="#target1">
                                <i class="fas fa-tasks"></i> Quản lý bài học
                            </a>
                            <div id="target1" class="collapse">
                                <ul class="">
                                    <li><a class="nav-link-2" href="/admin/tuvung">Từ vựng</a></li><br>
                                    <li><a class="nav-link-2" href="/admin/nguphap">Ngữ pháp</a></li><br>
                                    <li><a class="nav-link-2" href="/admin/bainghe">Luyện nghe</a></li><br>
                                    <li><a class="nav-link-2" href="/admin/baikiemtra">Bài kiểm tra</a></li><br>
                                    <li><a class="nav-link-2" href="/admin/baiviet">Bài viết</a></li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <a class="nav-link-2" href="#" data-toggle="collapse" data-target="#target2">
                                <i class="fas fa-id-card-alt"></i> Quản lý tài khoản
                            </a>
                            <div id="target2" class="collapse">
                                <ul class="">
                                    <li><a class="nav-link-2" href="/admin/taikhoan">Quản lý thành viên</a></li>
                                    <br>
                                    <!-- <li><a class="nav-link-2" href="">Quản lý Admin</a></li> -->
                                </ul>
                            </div>
                        </li>
                        <br>
                    </ul>
                </div>

            </div>
        </div>

        <div class="blog-content-2">
            <div class="home row">
                <div class=" col-12 col-md-12 mx-auto ">
                    <nav class="navbar navbar-dark bg-dark">
                        <div class="">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <span class="navbar-text mr-3">
                            <a href="" class="nav-link" data-toggle="modal" data-target="#logoutModal"> <i
                                    class="fas fa-door-open"></i> Đăng xuất</a>
                        </span>
                    </nav>
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>



    <!-- modal -->
    <form action="/logout" method="POST">
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-black" id="logoutModalLabel"><b>ĐĂNG XUẤT</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn thật sự muốn đăng xuất?
                    </div>
                    <div class="col-md-12 p-3 text-center">
                        <button type="submit" class="btn btn-exit">Đồng ý </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="inforModal" tabindex="-1" role="dialog" aria-labelledby="infor-ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="infor-ModalLabel"><b>THÔNG TIN CHI TIẾT</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form action="#" method="GET" class="d-flex justify-content-center">
                            <div class="col-md-12 d-flex flex-nowrap">
                                <div class="col-md-2 text-center">
                                    <img class="avatar-user"
                                        src="https://i.pinimg.com/originals/df/a6/d8/dfa6d8c83adc19313ae2e265ad851a3a.jpg"
                                        alt="">
                                    <button class="btn btn-circle text-center ml-5 mt-2"><i class="fas fa-tools"></i>
                                        Đổi</button>
                                </div>
                                <div class="row col-md-10 body-modal">
                                    <div class="col-md-12 disable">
                                        Họ và tên:
                                        <input type="text" class="form-control border" value="Nguyễn Thị Việt An">
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        Ngày sinh
                                        <input type="date" class="form-control border" value="03/03/1998">
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        Email:
                                        <input type="text" class="form-control border" value="anh.vy98@gmail.com">
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        Mật khẩu:
                                        <input type="password" class="form-control border" value="ntva3598">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 p-3 text-center">
                    <button class="btn btn-fix">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function LogOut() {
            window.location.href = '/index.html';

            // $("tbody").delegate("tr", "click", function () {
            //     $('.active').removeClass('active');
            //     $(this).toggleClass("active");
            // });
        }

    </script>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js"></script>
    {{{_sections.js}}}

</body>

</html>