<div class="row justify-content-center mt-3">
    <div class="col-md-2 mb-2 mt-2 mr-5 borde bg-light">
        <div class="block-counter-1">
            <span class="number text-black"><span data-number="1">5493</span></span>
            <span class="caption text-black">Lượt truy cập</span>
        </div>
    </div>
    <div class="col-md-2 mb-2 mt-2 mr-5 borde bg-light">
        <div class="block-counter-1">
            <span class="number text-black"><span data-number="1">1034</span></span>
            <span class="caption text-black">Lượt bình luận</span>
        </div>
    </div>
    <div class="col-md-2 mb-2 mt-2 mr-5 borde bg-light">
        <div class="block-counter-1">
            <span class="number text-black"><span data-number="1000">2030</span></span>
            <span class="caption text-black">Thành viên</span>
        </div>
    </div>
    <div class="col-md-2 mb-2 mt-2 mr-5 borde bg-light">
        <div class="block-counter-1">
            <span class="number text-black"><span data-number="1000">340</span></span>
            <span class="caption text-black">Người đăng ký mới</span>
        </div>
    </div>
</div>
<hr>

<div class="col-md-9">
    <h4 class="text-black">Biểu Đồ Truy Cập Trong Tuần</h4>
    <p>Chart</p>
</div>